extends layout

block content
  h1 Formularz zgłoszeniowy z zakresem danych wymaganych do projektów EFS+ i deklaracją uczestnictwa w projekcie
  div(class="text-start")
    h7(class="text-start") Jeśli chcesz wziąć udział w stażach realizowanych w projekcie    
    h7(class="fw-bold") „Akcja staż! Wsparcie szkolnictwa zawodowego poprzez organizację staży uczniowskich w ZS nr 6" 
    h7 musisz wypełnić poniższą tabelę. W przypadku, gdy nie ukończyłeś/ukończyłaś jeszcze 18 lat dokument wygenerowany na podstawie poniższych danych 
    h7(class="fw-bold text-decoration-underline") MUSI
    h7  być podpisany przez Ciebie, ale także przez Twojego rodzica lub opiekuna prawnego. 
    h7(class="fst-italic") Realizator zobowiązuje się do zapewnienia <strong> poufności danych osobowych </strong> przetwarzanych w związku z realizacją projektu, w szczególności do tego, że nie będzie przekazywać, ujawniać i udostępniać tych danych osobom nieuprawnionym.

  div(class="text-start")
    form(method="post" id="formId")
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Imię
        label(class="text-danger") *
        div
          input(type="text" name="imie" class="form-control" required)

      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Nazwisko
        label(class="text-danger") *
        div
          input(type="text" name="nazwisko" class="form-control" required)

      div(class="d-flex flex-row")
        div(class="col-xs-1 p-3")
          label(class="form-label text-start fw-bold") Kod Pocztowy
          label(class="text-danger") *
          div
            input(type="text" name="kodpocztowy" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" class="form-control")

        div(class="col-xs-1 p-3")
          label(class="form-label text-start fw-bold") Miejscowość
          label(class="text-danger") *
          div
            input(type="text" name="miasto" class="form-control")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Województwo
        label(class="text-danger") *
        div
          input(type="text" name="woj" class="form-control")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Powiat
        label(class="text-danger") *
        div
          input(type="text" name="powiat" class="form-control")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Gmina
        label(class="text-danger") *
        div
          input(type="text" name="gmina" class="form-control")
      
      div(class="d-flex flex-row")
        div(class="col-xs-1 p-3")
          label(class="form-label text-start fw-bold") Ulica
          label(class="text-danger") *
          div
            input(type="text" name="ulica" class="form-control")
        div(class="col-xs-1 p-3")
          label(class="form-label text-start fw-bold") Nr domu
          div
            input(type="number" name="nrdomu" class="form-control")
        div(class="col-xs-1 p-3")
          label(class="form-label text-start fw-bold") Nr lokalu
          div
            input(type="number" name="nrlokalu" class="form-control")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Telefon
        label(class="text-danger") *
        div
          input(type="number" name="telefon" class="form-control" max-length="9")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") E-mail
        label(class="text-danger") *
        div
          input(type="text" name="email" class="form-control")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") PESEL
        label(class="text-danger") *
        div
          input(type="number" name="pesel" class="form-control")
      
      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Numer rachunku bankowego
        label(class="text-danger") *
        div
          input(type="text" name="rachunek" class="form-control")

      div(class="col-xs-1 p-3")
        label(class="form-label text-start  fw-bold") Klasa
        label(class="text-danger") *
        div
          input(type="text" name="klasa" class="form-control")

      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Kierunek zawodowy
        label(class="text-danger") *
        div
          h7(class="fst-italic") np.: technik informatyk, technik logistyk, technik mechatronik, technik analityk, itp.
        div
          input(type="text" name="kierunek_zaw" class="form-control")

      div(class="col-xs-1 p-3")
        label(class="form-label text-start fw-bold") Proponowane miejsce stażu
        label(class="text-danger") *
        div 
          h7(class="fst-italic") dokładna nazwa firmy lub instytucji 
        div
          input(type="text" name="miejsce_praktyk" class="form-control")

      label(class="fw-bold p-1") Płeć
      label(class="text-danger") *
      div(class="col-xs-1 p-3")
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioGen" value="k")
          label(class="form-check-label" for="flexRadioDefault1")
          h7 Kobieta
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioGen" value="m")
          label(class="form-check-label" for="flexRadioDefault1")
          h7 Mężczyzna
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioGen" value="inna")
          label(class="form-check-label" for="flexRadioDefault1")
          h7 Inna
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioGen" value="niepodaje")
          label(class="form-check-label" for="flexRadioDefault1")
          h7 Wolę nie podawać

      label(class="fw-bold p-1") Osoba z niepełnosprawnościami
      label(class="text-danger") *
      div
        h7(class="fst-italic") osoby z niepełnosprawnością będą musiały donieść stosowne orzeczenie do Biura Projektu
      div(class="col-xs-1 p-3")
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioDis" value="tak")
          label(class="form-check-label" for="flexRadioDefault2")
          h7 Tak
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioDis" value="nie")
          label(class="form-check-label" for="flexRadioDefault2")
          h7 Nie
        div(class="form-check")
          input(class="form-check-input" type="radio" name="radioDis" value="niepodaje")
          label(class="form-check-label" for="flexRadioDefault2")
          h7 Odmawiam podania informacji

      div(class="form-check p-2")
        input(class="c1" type="checkbox" value="" id="checkRegulamin" required)
        label(class="form-check-label" for="checkRegulamin")
        h7(class="fw-bold") Oświadczam, że zapoznałem/łam się z Regulaminem projektu, akceptuję jego zapisy i deklaruję swój udział w projekcie.
        label(class="text-danger") *
      
      div(class="form-check p-2")
        input(class="c2" type="checkbox" value="" id="checkDane" required)
        label(class="form-check-label" for="checkDane")
        h7(class="fw-bold") Oświadczam, że wszystkie podane przeze mnie dane są zgodne z prawdą. Zgodnie z art. 233 §6 ustawy z dnia 6 czerwca 1997 r. – Kodeks karny (Dz.U. Nr 88, poz. 533 z późn. zm.) osoba, która składa fałszywe oświadczenie i została uprzedzona o odpowiedzialności karnej za złożenie fałszywego oświadczenia, podlega karze pozbawienia wolności do lat 3.
        label(class="text-danger") *
      
      div(class="form-check p-2")
        input(class="c3" type="checkbox" value="" id="checkPrzetwDanych" required)
        label(class="form-check-label" for="checkPrzetwDanych")
        h7(class="fw-bold") Oświadczam, że wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE).
        label(class="text-danger") *
      
      div(class="form-check p-2")
        input(class="c4" type="checkbox" value="" id="checkProjekt" required)
        label(class="form-check-label" for="checkProjekt")
        h7(class="fw-bold") Oświadczam, że zapoznałem/łam się ze Standardem realizacji projektu, a w tym z Kartą Praw Podstawowych, Konwencją ONZ o Prawach Osób Niepełnosprawnych, Zasadą równości kobiet i mężczyzn, Zasadą równości szans i niedyskryminacji oraz Zasadą Zrównoważonego Rozwoju i deklaruję zapisy tych dokumentów stosować w projekcie.
        label(class="text-danger") *
      
      div(class="form-check p-2")
        input(class="c5" type="checkbox" value="" id="checkDeklaracja" required)
        label(class="form-check-label" for="checkDeklaracja")
        h7(class="fw-bold") Oświadczam, że zapoznałem/łam się z Regulaminem projektu, akceptuję jego zapisy i deklaruję swój udział w projekcie.
        label(class="text-danger") *
      
      div(class="form-check p-2")
        input(class="c6" type="checkbox" value="" id="checkKlauzula" required)
        label(class="form-check-label" for="checkKlauzula")
        h7(class="fw-bold") Oświadczam, że zapoznałam/łem się z Formularzem klauzuli informacyjnej IZ (Załącznik nr 2) i Informacjami dotyczącymi przetwarzania danych osobowych w projekcie przez Wnioskodawcę (Załącznik nr 3)
        label(class="text-danger") *

      div(align="right")
        button(class="btn btn-primary mt-2" type="button" id="wyslij" onclick="script.test()") Zapisz i wyślij